* Required tools
  * Python
  * Python-svn

* Installation:
  cd $HOME
  tar zxvf PLA.tgz
  mv PLA $HOME/.pladata

* Adjustments
  cd $HOME/.pladata/bin
  source plugpla

* Verify that PLA is properly installed with:

  which svn

  It must return a path to the $HOME/.pladata/bin directory

* If there is a directory 'test' in $HOME/.pladata the commands print debug info

* If using a graphic environment with icons, check the icons to make sure they
  execute the right commands.
