* Required tools
  * Python
  * Python-svn

* Installation:
  cd $HOME
  tar zxvf PLA.tgz

* Adjustments
  cd $HOME/.pladata/bin
  source plugpla

* Verify that PLA is properly installing with:
  which svn
  It must return a path to the $HOME/.pladata/bin directory

* BASH

  Edit the .bashrc and add the following changes

  unset HISTCONTROL     # Stores all the commands, no exceptions
  HISTFILESIZE=50000    # Huge history file to catch everything

* 
